@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.HOME-test {
  padding: 20px;
  border: 5px solid salmon;
}
.FEED-test{
  padding: 10px;
  border: 5px solid lawngreen;
}
.POST-test{
  padding: 10px;
  border: 5px solid rgb(42, 24, 232);
}
.ICONS-test{
  width: fit-content;
  padding: 5px 10px;
  border: 5px solid rgb(5, 108, 21);
}

.posts-from-DB{
  padding: 10px;
  border: 5px dotted firebrick;
}